* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #252424;
    color: #fff;
    text-decoration: none;
}

nav {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

a {
    margin: 0.5rem;
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: aqua;
    font-weight: 800;
    transition-property: color;
    transition-duration: 0.5s;
}

main {
    height: 100vh;
}

.images-carrosel {
    margin: 8px;
}

.images {
    height: 200px;
    border-radius: 8px;
}

.btn-images {
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.form-main {
    margin: 50px;
    border: solid #00ffff;
    padding: 35px;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    margin: 5px;
}

.email-form {
    width: 300px;
    height: 50px;
    padding: 15px;
    border-radius: 8px;
    border: none;
}

.btn-form {
    background-color: #fff;
    border: none;
    padding: 9px;
    border-radius: 8px;
}

.btn-form:hover {
    background-color: #00ffff;
    color: #fff;
    transition-property: background-color;
    transition-duration: 0.4s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}